body {
  background-image: linear-gradient(
    135deg,
    rgb(130, 174, 240),
    rgb(163, 66, 172)
  );

  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  background-color: white;
  width: 80%;
  border-radius: 2px;
  padding: 30px;
  box-shadow: 2px 2px 5px rgb(215, 218, 219);
}

.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-field {
  display: inline;
  width: 50%;
  margin: 6px 0px;
}

.file-field {
  width: 100%;
}

#gender {
  display: flex;
  align-items: center;
}

label {
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 2px;
  width: 80%;
  border: 2px solid rgb(215, 218, 219);
  padding: 5px;
  margin: 10px;
}

input[type="radio"] {
  margin: 0 6px;
}

input[type="file"] {
  margin-left: 10px;
}

select {
  margin-left: 10px;
}

#btn {
  background-image: linear-gradient(
    135deg,
    rgb(130, 174, 240),
    rgb(163, 66, 172)
  );

  width: 100%;
  padding: 5px;
  color: white;
}

table {
  border-collapse: collapse;
  width: 80%;
  background-color: white;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: blueviolet;
  color: white;
}

@media (max-width: 1024px) {
  .form-field {
    width: 100%;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
  }
}

@media (max-width: 569px) {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 70%;
  }
}
